body, html{
    padding: 50px;
}

#stoplight{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
}

.light{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-top: 5px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    font-size: 20px;
}

#light-top{

    background-color: red;
    flex-direction: column;
    padding:10px;
    width: 80px;
    height: 90px;
}


#light-middle{

    background-color: orange;
    flex-direction: column-reverse;
    padding:10px;
    width: 80px;
    height: 85px;
    
}


#light-bottom{

    background-color: green;
    flex-direction: row-reverse;
    padding:10px;
    width: 80px;
    height: 90px;
    

}